<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <link th:href="@{/css/mainstyle.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" id="contents" class="content">
    <a href="/event/create" class="new-post-button">이벤트 작성</a>
    <h2 class="page-title">이벤트 목록</h2>
    <table class="event-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
            <th sec:authorize="hasRole('ADMIN')">삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event, iterStat : ${events}">
            <td th:text="${iterStat.index + 1}"></td>
            <td><a th:href="@{/event/{id}(id=${event.id})}" th:text="${event.title}"></a></td>
            <td th:text="${event.author}"></td>
            <td th:text="${#temporals.format(event.createdDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${event.hitCount}"></td>
            <!-- 관리자의 경우에만 삭제 버튼이 보이도록 설정할 수 있습니다. -->
            <td>
                <form th:action="@{/event/delete/{id}(id=${event.id})}" method="post" sec:authorize="hasRole('ADMIN')" class="delete-btn">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <button type="submit">삭제하기</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>