<html layout:decorate="~{layout}">
    <div layout:fragment="content" id="contents">
        <div id="left">
        </div>
        <div id="main">  
        <section>
            <article>
                <h1>friendship</h1>
            </article>
            <img src="./img/c&d.png"><br><br>
            <br>
            <img src="./img/togher.png">
                <br>
                <br>
         </section>
         <section>
                <article>
                    <h2>how?</h2>
                </article>
                <img src="./img/curious.png">
                <p>kitty<br>
                   <br> 
                   나는 호기심이 많다.<br>
                   나는 경계심도 많다.<br>
                   하지만 궁금한 건 못 참아.<br>
                   맨날 헤벌레하는 저 모습..<br>
                   녀석...내 놀잇감으로 딱이군.<br>
                </p>
                <br>
                <br>
          </section>
          <section>
                <article>
                    <h3>how2</h3>
                </article>s
                <img src="./img/curious_dog.png">
                <br>
                <p>doggy</p>
                <br>
                엄마 좋아<br>
                아빠 좋아<br>
                형, 누나도 좋아<br>
                친구도 좋아<br>
                같이 놀자<br>
                
          </section>
            </div>
            <div id="right">
            </div>            
        </div>     
</html>